/* Brand Colors ------------------------------------------------*/

	$font-family-main: 'Open Sans', sans-serif;
	$font-family-roboto: 'Roboto', sans-serif;
	$layout-about : 1082px;
	$main-color: #f69679;
