.contacts {
	@include big-block;
	margin-top: 45px;
	height: auto;
@media (min-width: 1024px) and (max-width: 1279px) {
	width: 100%;
}	
.layout {
	width: 732px;
	height: auto;
@media (min-width: 667px) and (max-width: 767px){
	width: 630px;
}
@media (min-width: 480px) and (max-width: 666px) {
	width: 450px;
}
@media (min-width: 320px) and (max-width: 479px) {
	width: 320px;
}		
h3 {
	@include h3-text;
	&:after {
		@include under_line;
		background:$main-color;
		top:35px;
	}

}
h4 {
	@include GoodFoodText;
	padding: 40px 0 35px 0;
	text-align: center;
	font-weight: 500;
	font-size: 0.87em;
	
}
.listContacts {
	display: flex;
	justify-content: space-around;
	padding-top:35px;
@media (min-width: 667px) and (max-width: 767px){
	display: inline;
	float:right;
	margin-right:50px;
}
@media (min-width: 320px) and (max-width: 479px) {
	display: inline;
}		
li {
a {
	display: block;
	text-align: center;
img{

}	
}
.linkContacts {
	display: block;
	text-align: center;
	color:#94959b;
	font-family: $font-family-main;
	font-size: 0.87em;
	padding:17px 0 17px 0;
}    
}	
}
form {
	width:100%;
	position: relative;
	margin:0 auto;
	margin-bottom: 15px;
.inputs {
	width: 350px;
	height: 120px;
	float:left;
	margin-right:14px;
input {
	width: 334px;
	height: 30px;
	border: 1px solid #878787;
	margin:6px 0;
	font-size: 0.87em;
	padding-left:16px;
	font-family: $font-family-roboto;
	font-weight: 700;
	&::-webkit-input-placeholder{
    	color:#000000;
    }
    &:-moz-placeholder{
    	color:#000000;	
    }
    &::-moz-placeholder{
        color:#000000;
    }
    &:-ms-input-placeholder{
    	color:#000000;
    }	
@media (min-width: 320px) and (max-width: 479px) {
	width: 320px;
}	    
}
}	
textarea {
	width: 334px;
	height: 104px;
	margin:6px 0 0 14px;
	resize: none;
	border: 1px solid #878787;
	font-size: 0.87em;
	padding:16px 0 0 16px;
	font-family: $font-family-roboto;
	font-weight: 700;
	&::-webkit-input-placeholder{
    	color:#000000;
    }
    &:-moz-placeholder{
    	color:#000000;
    }
    &::-moz-placeholder{
        color:#000000;    
    }
    &:-ms-input-placeholder{
    	color:#000000;
    }	
@media (min-width: 320px) and (max-width: 767px){
	margin:16px 0;
	width: 320px;
}
}
.submitForm {
	background-color: #f69679;
    border:none;
	width: 112px;
	height: 34px;
	font-family: $font-family-main;
	font-size: 0.84em;
	color:#fde3db;
	display: block;
	margin:36px auto;
	
img {
	vertical-align: middle;
}	
}		
}	
}	
}